* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  position: relative;
}

/*****************Main*****************/
main {
  width: 100vw;
}

/* ****************Header*****************/
header {
  background-color: gray;
}

header > h1 {
  padding: 5px;
  text-align: center;
}

i#burguer {
  background-color: gray;
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  cursor: pointer;
}

i#burguer:hover {
  background-color: white;
  color: black;
}

menu {
  display: flex;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

menu > ul {
  list-style-type: none;
  justify-content: center;
}

menu > ul > li > a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  border-top: 2px solid gray;
  color: white;
  align-items: center;
}

menu > ul > li > a:hover {
  background-color: rgb(109, 107, 111);
  border-radius: 10px;
  align-items: center;
  color: black;
}

main {
  width: 90vw;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.img-home {
  width: 100%;
  height: 50%;
}

.logo {
  margin-left: 30px;
}

/* ****************RECEITAS*****************/

.titulo-receitas {
  text-align: center;
  padding: 10px;
  color: #82ed82;
}

.div_receitas {
  max-width: 600px;
  margin: 10px auto 50px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h3 {
  text-align: center;
}
.p-receitas {
  text-align: center;
}

.ul-receitas {
  text-align: center;
  padding: 10px;
}

li {
  list-style-type: none;
}

.img-receitas1 {
  width: 30%;
  right: 12%;
  left: 35%;
  height: 5%;
  border-radius: 5%;
}

footer {
  box-shadow: 0px -1px 0px 0px #000000;
  padding: 12px;
  text-align: center;
  color: white;
  background-color: gray;
  font-size: 10px;
}
