
    
    <%- include('partial/header.html') %>

    <!--**************************RECEITAS***********************-->

<section class="receitas">
    <!--**************************BOLO LARANJA***********************-->
    <div class="div_receitas">
       
        <h2 class="titulo-receitas" >BOLO DE LARANJA</h2>

        <div  id="img-receitas">
        <img class="img-receitas1" src="../img/bolo-laranja.jpg"  alt="" width="50%"  >
        </div>
 
             <h3>Ingredientes</h3>
                 <ul class="ul-receitas">
                     <li>3 ovo</li>
                     <li>1 xicara suco de laranja</li>
                     <li>3 xicaras de farinha de trigo</li>
                     <li>3 xicaras de açucar</li>
                     <li>1 xicara de óleo</li>
                     <li>1 colher de fermento</li>
                  </ul>
                  <br>
 
                 <p class="p-receitas">Em uma vasilha adicione o s.</p>
 
                 <br>
                 <p class="p-receitas">Pode ser molhado com leite e leite condensado...</p>
                 <br>
        </div>
           
     <hr/>
</section>

<%- include('partial/footer.html') %>


</body>
</html>